<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Appointment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container py-4">

    <div>
        <div>View Appointment</div>

            <ul class="list-group">
                <li class="list-group-item active" th:text="${patient.name} + ' ' + ${patient.lastName}"></li>
                <li class="list-group-item" th:text="${patient.birthdate}"></li>
                <li class="list-group-item" th:text="${address.address1} + ', ' + ${address.address2} + ', ' + ${address.city} + ', ' + ${address.region} + ', ' + ${address.zipCode}"></li>
                <li class="list-group-item" th:text="${appointment.day} + ', ' + ${appointment.time}"></li>
            </ul>
    </div>

</div>

</body>
</html>
